<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>내가쓴글</h1>
	<table>
		<thead>
			<tr>
				<th>제목</th>
				<th>작성자</th>
				<th>언급된자</th>
				<th>작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="notice : ${list}">
				<td><a th:text="${notice.title}" th:href="@{/my/fromMeWrotenDetail(nno=${notice.nno})}"></a></td>
				<td><a th:text="${notice.writer}"></a></td>
				<td><a th:text="${notice.receiver}"></a></td>
				<td><a th:text="${notice.regdate}"></a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/list}">리스트로 가기</a>
</body>
</html>