<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="title"></header>
        <div id="index-container">
            <p id="hello">" 환 영 합 니 다 ! "</p>
            <ul id="indexBtn">
                <li id="loginBtn"><a href="loginForm">로그인</a></li>
                <li id="regBtn"><a href="regForm">회원가입</a></li>
            </ul>
        </div>
    </div>
</body>
</html>