<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록 보기</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<a href="/my/myPage" style="text-align: right;">My Page</a><br>
	<a href="/my/logout" style="text-align: right;">로그아웃</a>
    <header id="title">
        <p>게시판</p>
    </header>
	
    <div id="greetings">[[${name}]]님, 환영합니다.</div>
    <div id="wrap">
        <table border="1">
            <thead>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
            </thead>
            <tbody>
                <tr th:each="dto : ${list}">
                    <td th:text="${dto.nno}"></td>
                    <td><a th:href="@{/my/listDetail(nno=${dto.nno})}">[[${dto.title}]]</a></td>
                    <td th:text="${dto.writer}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>