<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

	a {
		color:black;
		
	}
	nav {
		height:40px;
		padding-top:10px;
	}
</style>
</head>
<body>
	<a href="/my/logout" style="text-align: right;">로그아웃</a>
	<a href="/mDetail" style="text-align: right;">나의 정보조회</a><br>
	
	<h1>My Page</h1>
	<hr>
	<nav>
		<a th:href="@{/my/fromMeWroten}">내가 쓴 글</a>
		<a th:href="@{/my/meMentioned}">내가 언급된 글</a>
		<a th:href="@{/my/mySelf}">나에게 쓴 글</a>
		<a th:href="@{/list}">홈으로</a>
	</nav>
</body>
</html>