<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

	a {
		color:black;
		
	}
	nav {
		height:40px;
		padding-top:10px;
	}
</style>
</head>
<body>
	<a href="/logout" style="text-align: right;">로그아웃</a><br>
	<a th:href="@{/mDetail}" style="text-align: right;">내 정보 조회하기</a>
	
	<h1>My Page</h1>
	<hr>
	<nav>
		<a th:href="@{/fromMeWroten}">내가 쓴 글</a>
		<a th:href="@{/meMentioned}">내가 언급된 글</a>
		<a th:href="@{/mySelf}">나에게 쓴 글</a>
		<a th:href="@{/list}">홈으로</a>
	</nav>
</body>
</html>