<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>나에게 쓴 글</h1>
	<table border="1">
		<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>언급된자</th>
			<th>작성일자</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="notice, status : ${list}">
				<td th:text="${status.count}"></td>
				<td><a th:href="@{/my/mySelfDetail(nno=${notice.nno})}" th:text="${notice.title}"></a></td>
				<td th:text="${notice.writer}"></td>
				<td th:text="${notice.receiver}"></td>
				<td th:text="${notice.regdate}"></td>
			</tr>
		</tbody>
	</table>
	<a href="/list">전체목록보기</a>
</body>
</html>