<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>내가 언급 된 글</h1>
	<hr>
	<table border="1">
		<thead>
			<th>번호</th><th>제목</th><th>작성자</th><th>작성일자</th>
		</thead>
		<tbody>
			<tr th:each="dto : ${list}">
				<td th:text="${dtoStat.count}"></td>
				<td><a th:href="@{detail(nno=${dto.nno})}">[[${dto.title}]]</a></td> 
				<td th:text="${dto.writer}"></td>
				<td th:text="${dto.regdate"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>