<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kakaoPrj.dao.INoticeDao">
	<select id="listDao">
		SELECT * FROM notice WHERE receiver = '' OR writer = #{writer} OR receiver = #{receiver}
	</select>
	<select id="detailDao">
		SELECT * FROM notice WHERE nno = #{nno}
	</select>
	<insert id="writeDao">
		INSERT INTO notice (title, content, writer, receiver, regdate) VALUES(#{dto.title}, #{dto.content}, #{dto.writer}, #{dto.receiver}, #{dto.regdate})
	</insert>
	<update id="updateDao">
		UPDATE notice SET title = #{dto.title}, content = #{dto.content}  WHERE nno = #{nno} AND writer = #{writer}
	</update>
	<delete id="deleteDao">
		DELETE FROM notice WHERE nno = #{nno} and writer = #{writer}
	</delete>
</mapper>